<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011228341055-p7kd4c889h7r1mnc7udn509cl3ldvs5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011228341055-p7kd4c889h7r1mnc7udn509cl3ldvs5v</string>
	<key>API_KEY</key>
	<string>AIzaSyCm1sUiD_ey4M6V23eY9svEA0O6twHYWC8</string>
	<key>GCM_SENDER_ID</key>
	<string>1011228341055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>bire-398c6</string>
	<key>STORAGE_BUCKET</key>
	<string>bire-398c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011228341055:ios:511123416176f8f2ec198a</string>
</dict>
</plist>